@page "/"

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Partners</li>
  </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <PartnerList />
        </div>
    </div>
</div>